<div style="font-family:Arial">
    <h2>Edit</h2>

    @model HelloMVC2.Models.Employee

    @{
        ViewBag.Title = "Edit";
    }

    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js" type="text/javascript"></script>
    <link href="~/Content/Site.css" rel="stylesheet"  type="text/css" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet"  type="text/css" />

    @*Possibly outdated*@
    <script type="text/javascript">
        $(function () {
            $("input:text.date").datepicker(
                {
                    dateFormat: "dd/mm/yy"
                });
        });
    </script>

    @using (Html.BeginForm())
    {
        @Html.EditorForModel()
        <br />
        <br />
        <input type="submit" value="Save" />
    }


</div>


